* {
  /* padding: 0px 5px 5px 0px; */
  margin: 0;
  padding: 0 0 5px 5px;
  border: 0;
  list-style: none;
}
body {
  background-color: #fef9e1;
}

.navlist {
  background-color: #e5d0ac;
  padding: 20px;
  position: fixed;
  width: 100%;
}
.navlist ul {
  /* position: fixed; */
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-family: charm;
  color: #a31d1d;
}
.page-header {
  text-align: center;
  padding: 90px 0;
  /* background-color: #bbc3a4; */
}

.page-header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  color: #6d2323;
}
.images-section {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  border: 25pxpx solid black;
}
img {
  border-radius: 20px;
  border: 2px solid#B3A398;
}

img:hover {
  transform: scale(1.1);
  background-color: #bbc3a4;
  transition: all 0.4s ease;
  align-items: center;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #a31d1d;
}
figcaption {
  background-color: #e5d0ac;
  color: #6d2323;
  font-style: italic;
  padding: 1px;
  text-align: center;
  border-radius: 3px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  font-family: charm;
  font-weight: 400;
  font-size: large;
  text-align: center;
  color: #a31d1d;
}
p {
  font-family: playfair display;
  color: #a31d1d;
}
section {
  padding: 15px;
  margin: 5px;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}
.message-section p {
  text-align: center;
}
.testimonials-msgs {
  display: flex;
  justify-content: space-around;
}
.testimonials-msg {
  background-color: #fef9e1;
  color: #a31d1d;
  text-align: center;
  border: 1px solid saddlebrown;
  margin: 5px;
  padding: 5px;
}
.testimonials-msg:hover {
  background-color: #e5d0ac;
}
footer {
  background-color: #e5d0ac;

  padding: 5px;
  margin: 5px;
  list-style: none;
}
footer ul {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #987c6a;
  /* margin-top: -150px;
  height: 150px;
  clear: both; */
}
/* contact us form */
h1 {
  padding: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: charm;
  font-weight: 900;
  font-size: large;
  color: #a31d1d;
}
.contact {
  border: 2px solid #a31d1d;
  width: 80%;
  margin: auto;
  padding: 0 0 0 5px;
  font-family: playfair display;
  color: c;
}

.contact-us {
  display: flex;
  justify-content: center;
  text-align: center;
}
input {
  width: 90%;
  cursor: pointer;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 1px solid #a31d1d;
  background-color: #e5d0ac;
}
button {
  background-color: #6d2323;
  font-family: charm;
  color: white;
  width: 90px;
  border-radius: 10px;
}
button:hover {
  background-color: #b3a398;
}
